.menu {
  --menubox-spacing: 1px;

  z-index: 1000;

  padding: var(--menubox-spacing);

  background: var(--base02);
  border: 1px solid var(--border);

  margin-bottom: 1rem;
}

.menubox-body {

  .row {

    padding: var(--menubox-spacing);
  }
  .col {
    padding: var(--menubox-spacing) ;
  }

  .btn {
    &.active {
      background: var(--active);
      box-shadow: inset 1px 1px 3px 1px rgba(0,0,0,.5);
    }
    margin: 0;
  }


}
